-r requirements.txt

blinker==1.4
coverage==5.1
mock==2.0.0; python_version == "2.7"
pytest==5.4.3; python_version > "2.7"
pytest<5.0; python_version == "2.7"
pycodestyle==2.6.0
pyflakes==2.2.0
semantic_version==2.8.5
