-r requirements.txt

blinker==1.4
coverage==4.5.4
mock==2.0.0; python_version == "2.7"
pytest==5.1.1; python_version > "2.7"
pytest<5.0; python_version == "2.7"
pycodestyle==2.5.0
pyflakes==2.1.1
semantic_version==2.6.0
